<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VimeoNetworkingExample-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>018B9F951C9B34050054650E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>018B9FAB1C9B34050054650E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>018B9FB61C9B34050054650E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
